* {
    margin:0;
}

body{
    font-family: 'Kumbh Sans', sans-serif;
    margin: 0;
    box-sizing: border-box;

}

#topbar{
    height:8vh;
    box-shadow: 0 2px 2px #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #212121;
}

#topbar img{
    width:80px;
    margin: 0;
}

#topbar h1{
    color: #fff;
    margin: 0;
    font-weight: 600;
}

#player-container{
    height: 80vh;
    display: flex;
}

#player{
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#thumbnail-cover{
    height: 100%;
    width: 100%;
    overflow: hidden;
    filter: blur(15px);
}

#thumbnail-center{
    position: absolute;
    z-index: 10;
    width: 300px;
    height: 300px;
    box-shadow: 0 0 10px #212121;
}

#queue{
    width: 40%;
    border-left: 2px solid #212121;
    color: #ccc;
    background-color: #000;
}

#queue h3 {
    padding: 20px;
}

.song-list{
    width: 100%;
    border-top: 2px solid #212121;
    padding: 30px 40px;
    box-sizing: border-box;
    cursor: pointer;
}

.song-list:hover{
    background-color: rgb(97, 96, 96)
}

.active{
    background-color: rgb(39, 38, 38);
}

#controls-wrapper{
    width: 100%;
    background-color: #212121;
}


#controls{
    padding: 0 15%;
    width: 100%;
    height: 10vh;
    box-sizing: border-box;
    background-color: #212121;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
}


#progress-bar{
    margin-top: 0;
    height:100%;
    width: 100%;
    background-color: #747171;
    outline: none;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      width: 80px;
      -webkit-appearance: none;
      background-color: #0e0e0d;
    }

    input[type='range']::-webkit-slider-runnable-track {
        height: 5px;
        -webkit-appearance: none;
        color: #5c5f5f;
        margin-top: -1px;
      }
      
      input[type='range']::-webkit-slider-thumb {
        width: 1px;
        -webkit-appearance: none;
        height: 1px;
        cursor: progress;
        background: #434343;
        box-shadow: 0 0 0 5px #250404;
      }
#music-control{
    margin-right: 30px;
    display: flex;
    align-items: center;

}

.icons{
    margin: 0 30px;
    padding: 15px;
    cursor: pointer;
    border-radius: 50%;
}

.icons:hover {
    background-color: #111;
}

#play, #pause{
    font-size: 30px;
}

#pause{
    display: none;
}

#song-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}

#thumbnail-control{
    width: 50px;
    margin-right: 50px;
}

